<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>注册</title>
    <link rel="stylesheet" href="{__PUBLIC__}css/style.css">
</head>
<body>
<div class="login">
    <div class="text-center">
        <p class="login-p1">welcome</p>
        <p class="login-p2">积分营销平台</p>
        <p class="login-p3">注册</p>
        <p class="login-p4">registered</p>
    </div>
</div>
<div class="login-box">
    <form class="layui-form" action="" id="region" method="post">
        <input type="text" name="username" autocomplete="off" id="username" placeholder="用户名/手机号" lay-verify="required|phone|number" class="inp1">
        <input type="text" name="checkcode" autocomplete="off" lay-verify="required|number" class="inp2"><button type="button" id="checkcode" class="send-mail">获取短信验证码</button>
        <input type="text" name="password" autocomplete="off" placeholder="密码" lay-verify="required" class="inp3">
        <input type="text" name="reg_password" autocomplete="off" placeholder="重复密码" class="inp4">
        <input lay-submit="" type="submit" lay-filter="demo1" value="立即注册"  class="inp5">
    </form>
    <p class="login-p5">已经是会员 ？<a href="index.php?c=user&a=login">去登录</a></p>
</div>
<img src="{__PUBLIC__}images/bg2.png" class="float-img2">
<img src="{__PUBLIC__}images/cy1_03.png" class="float-img" style="bottom: 0px">
<script src="{__PUBLIC__}style.js"></script>
<script src="{__PUBLIC__}layui.js"></script>
<script>
    var countdown=60;
    layui.use(['jquery','layer','form'], function(){
        var $ = layui.$,layer = layui.layer,form = layui.form;
        form.on('submit(demo1)', function(data){
            var index = layer.load(3);
            $.post('index.php?c=user&a=register',data.field,function (data) {
                if(data.status == 1){
                    window.location.href = 'index.php';
                }else{
                    layer.close(index);
                    layer.msg(data.msg);
                }
            });
            return false;
        });
        $('#checkcode').on('click', function(){
            var username = $('#username').val().trim();
            var that = this;
            if( username == ''){
                layer.msg('请填写手机号',{icon:5,shift:6});
                return false;
            }

            var index = layer.load(1);
            $.post('index.php?c=user&a=register_code',{username:username},function (data) {
                layer.close(index);
                if(data.status == 1){
                    settime($(that));
                }else{
                    layer.msg(data.msg,{icon:5,shift:6});
                }
            });
            return false;
        });
    });

    function settime(obj) { //发送验证码倒计时
        if (countdown == 0) {
            obj.attr('disabled',false);
            obj.html("获取短信验证码");
            countdown = 60;
            return;
        } else {
            obj.attr('disabled',true);
            obj.html("重新发送(" + countdown + ")");
            countdown--;
        }
        setTimeout(function() {
            settime(obj);
        },1000);
    }
</script>
</body>
</html>