<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>活动列表</title>
    <link rel="stylesheet" href="{__PUBLIC__}css/style.css">
</head>
<body>
<header class="active">
    <a class="header__back" href="index.php?c=user"><span>&lsaquo;</span> 返回</a>
    <h1>中奖名单</h1>
</header>
<div class="text-center">
    <p class="hd-p1">第{$info['ad_name']}期</p>
    {if $user_info}
    <p class="hd-p2">
        恭喜您：您中了{if $user_info['log_awards'] == 0}参与{else/}{$user_info['log_awards']}等{/if}奖：{$user_info['log_awards_point']}积分
    </p>
    {/if}
    <div class="hd-box1">中奖列表</div>
    <table class="hd-table" cellspacing="0" >
        <thead>
            <tr class="hd-box2">
                <td width="20%">名次</td>
                <td width="52%">账号</td>
                <td width="28%">奖励积分</td>
            </tr>
        </thead>
        <tbody>
            {loop $list $key $val}
            {php $k = $key + 1}
            <tr>
                <td>
                    <span {if $key < 3}class="hd-sp1"{/if}>{$k}</span>
                </td>
                <td>{@substr($val['us_phone'],0,3)}XXXX{@substr($val['us_phone'],7)}</td>
                <td>{$val['log_awards_point']}</td>
            </tr>
            {/loop}
        </tbody>
    </table>
</div>
<img src="{__PUBLIC__}images/cy1_03.png" class="float-img">
<script src="{__PUBLIC__}style.js"></script>
<script src="{__PUBLIC__}layui.js"></script>
<script>
    layui.config({
        base: '{__PUBLIC__}'
    }).extend({
        numberRock: 'numberRock'
    });
    layui.use(['jquery','layer','numberRock'], function(){
        var $ = layui.$,layer = layui.layer,numberRock=layui.numberRock;
        $("#quit").click(function(){
            layer.open({
                type: 0,
                title: '提示',
                content: '确定退出当前登录吗?',
                icon:5,
                btn:['确定','取消'],
                yes: function(index, layero){
                    window.location.href='index.php?c=user&a=logout';
                }
            });
        });
        numberRock('#count',{
            lastNumber:{$user['us_point']},
            duration:1000,
            easing:'swing',  //慢快慢
        });
    });
    // {$activity['ac_name']}
</script>
</body>
</html>
